
@model TechJobs.ViewModels.JobViewModel


    <table class="job-listing">
        <tr>
            <th>Name</th>
            <td>@Job.Name</td>
        </tr>
        <tr>
            <th>Employer</th>
            <td>@Job.Employer</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>@Job.Location</td>
        </tr>
        <tr>
            <th>Core Competency</th>
            <td>@Job.CoreCompetency</td>
        </tr>
        <tr>
            <th>Position Type</th>
            <td>@Job.PositionType</td>
        </tr>
    
    </table>
